.stack-img {
  width: 10%;
  height: auto;
  object-fit: contain;
}

.stack-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0px 50px 0px;
}

@media (max-width: 1024px) {
  .stack-img {
    width: 18%;
    margin: 10px
  }
  .stack-div {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .stack-img {
    width: 18%;
    margin: 10px
  }
  .stack-div {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .stack-img {
    width: 20%;
    margin: 10px
  }
  .stack-div {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .stack-img {
    width: 30%;
  }
  .stack-div {
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .stack-img {
    width: 30%;
  }
  .stack-div {
    flex-wrap: wrap;
  }
}
